.agents/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.venv
*pycache*
*.onnx
**/src-tauri/assets/
output/
data/

i have formulated a plan for phase 6 plan  @contextScopeItemMention 
fully ingest it , its a comprehensive plan , wie will need multiple iterations to implement this 
do not overdo or try to implement taks in major overhauls
REMEMBER OUR WORKFLOW and instructions @contextScopeItemMention 
and remove all dead ui from frontend , history page , and seeitngs has a lot fo dead ui , 
